@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
.text-primary {
  color: #fdc882;
}

.text-secondary {
  color: #ead6b2;
}

.text-tertiary {
  color: #ffe4bf;
}

.text-quran {
  color: #fff;
}

.bg-body {
  background-color: #151616;
}

.bg-primary {
  background-color: #f8c279;
}

.bg-secondary {
  background-color: #ead6b2;
}

.bg-tertiary {
  background-color: #ffe4bf;
}

.bg-linear {
  background: linear-gradient(135deg, #191919, #292b2e);
}

.line-bg {
  background: linear-gradient(to bottom, #f8c279, #ac8654, #151616);
}

.bg-overlay-1 {
  background: linear-gradient(to bottom, rgba(21, 22, 22, 0), rgba(21, 22, 22, 0.2196078431), #151616);
}

.button-hover .icon-wrapper {
  margin-inline-start: 16px;
  transition: 0.1313s ease;
}

.button-hover:hover {
  background-color: rgba(240, 197, 139, 0.05);
  box-shadow: 0 4px 6px rgba(248, 194, 121, 0.15);
}
.button-hover:hover .icon-wrapper {
  margin-inline-start: 24px;
}

.border-primary {
  border: 1px solid rgba(255, 243, 226, 0.25);
}

.border-secondary {
  border: 1px solid #fdc882;
}

.border-primary-2 {
  border: 2px solid rgba(255, 243, 226, 0.25);
}

.border-secondary-2 {
  border: 2px solid #fdc882;
}

@font-face {
  font-family: "ar-uthman";
  src: url("../../public/fonts/ar/uthman/uthman.woff2") format("woff2"), url("../../public/fonts/ar/uthman/uthman.woff") format("woff"), url("../../public/fonts/ar/uthman/uthman.ttf") format("truetype"), url("../../public/fonts/ar/uthman/uthman.eot") format("embedded-opentype"), url("../../public/fonts/ar/uthman/uthman.otf") format("opentype");
}
@font-face {
  font-family: "fa-yekan-bakh-black";
  src: url("../../public/fonts/fa-ar/YekanBlack/YekanBakh-Black.woff2") format("woff2"), url("../../public/fonts/fa-ar/YekanBlack/YekanBakh-Black.woff") format("woff"), url("../../public/fonts/fa-ar/YekanBlack/YekanBakh-Black.ttf") format("truetype"), url("../../public/fonts/fa-ar/YekanBlack/YekanBakh-Black.eot") format("embedded-opentype"), url("../../public/fonts/fa-ar/YekanBlack/YekanBakh-Black.otf") format("opentype");
}
@font-face {
  font-family: "fa-yekan-bakh-bold";
  src: url("../../public/fonts/fa-ar/YekanBold/YekanBakh-Bold.woff2") format("woff2"), url("../../public/fonts/fa-ar/YekanBold/YekanBakh-Bold.woff") format("woff"), url("../../public/fonts/fa-ar/YekanBold/YekanBakh-Bold.ttf") format("truetype"), url("../../public/fonts/fa-ar/YekanBold/YekanBakh-Bold.eot") format("embedded-opentype"), url("../../public/fonts/fa-ar/YekanBold/YekanBakh-Bold.otf") format("opentype");
}
@font-face {
  font-family: "fa-yekan-bakh-regular";
  src: url("../../public/fonts/fa-ar/YekanRegular/YekanBakh-Regular.woff2") format("woff2"), url("../../public/fonts/fa-ar/YekanRegular/YekanBakh-Regular.woff") format("woff"), url("../../public/fonts/fa-ar/YekanRegular/YekanBakh-Regular.ttf") format("truetype"), url("../../public/fonts/fa-ar/YekanRegular/YekanBakh-Regular.eot") format("embedded-opentype"), url("../../public/fonts/fa-ar/YekanRegular/YekanBakh-Regular.otf") format("opentype");
}
@font-face {
  font-family: "en-biotif-bold";
  src: url("../../public/fonts/en/BiotifBold/BiotifBold.woff2") format("woff2"), url("../../public/fonts/en/BiotifBold/BiotifBold.woff") format("woff"), url("../../public/fonts/en/BiotifBold/BiotifBold.ttf") format("truetype"), url("../../public/fonts/en/BiotifBold/BiotifBold.eot") format("embedded-opentype"), url("../../public/fonts/en/BiotifBold/BiotifBold.otf") format("opentype");
}
@font-face {
  font-family: "en-biotif-regular";
  src: url("../../public/fonts/en/BiotifRegular/BiotifRegular.woff2") format("woff2"), url("../../public/fonts/en/BiotifRegular/BiotifRegular.woff") format("woff"), url("../../public/fonts/en/BiotifRegular/BiotifRegular.ttf") format("truetype"), url("../../public/fonts/en/BiotifRegular/BiotifRegular.eot") format("embedded-opentype"), url("../../public/fonts/en/BiotifRegular/BiotifRegular.otf") format("opentype");
}
.uthman {
  font-family: "ar-uthman";
}

.yekan-black {
  font-family: "fa-yekan-bakh-black";
}

.yekan-bold {
  font-family: "fa-yekan-bakh-bold";
}

.yekan-regular {
  font-family: "fa-yekan-bakh-regular";
}

.biotif-bold {
  font-family: "en-biotif-bold";
}

.biotif-regular {
  font-family: "en-biotif-regular";
}

* {
  font-size: 0.85rem;
  line-height: normal;
  letter-spacing: 0px !important;
}

p {
  font-size: 0.85rem;
}

h1 {
  font-size: 2.45rem;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  font-size: 1.05rem;
}

h4 {
  font-size: 0.95rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
  * {
    font-size: 0.95rem;
  }
  p {
    font-size: 0.95rem;
  }
  h1 {
    font-size: 2.65rem;
  }
  h2 {
    font-size: 1.65rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  h6 {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 900px) {
  * {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.85rem;
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.45rem;
  }
  h4 {
    font-size: 1.35rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 0.95rem;
  }
}
.space-large {
  margin-top: 80px;
}

.space-medium {
  margin-top: 50px;
}

.space-small {
  margin-top: 30px;
}

.space-exterasmall {
  margin-top: 15px;
}

@media (min-width: 600px) {
  .space-large {
    margin-top: 100px;
  }
  .space-medium {
    margin-top: 70px;
  }
  .space-small {
    margin-top: 40px;
  }
  .space-exterasmall {
    margin-top: 20px;
  }
}
@media (min-width: 900px) {
  .space-large {
    margin-top: 120px;
  }
  .space-medium {
    margin-top: 90px;
  }
  .space-small {
    margin-top: 60px;
  }
  .space-exterasmall {
    margin-top: 30px;
  }
}
.margin-bottom-large {
  margin-bottom: 80px;
}

.margin-bottom-medium {
  margin-bottom: 50px;
}

.margin-bottom-small {
  margin-bottom: 30px;
}

.margin-bottom-extera-small {
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  .margin-bottom-large {
    margin-bottom: 100px;
  }
  .margin-bottom-medium {
    margin-bottom: 70px;
  }
  .margin-bottom-small {
    margin-bottom: 40px;
  }
  .margin-bottom-extera-small {
    margin-bottom: 20px;
  }
}
@media (min-width: 900px) {
  .margin-bottom-large {
    margin-bottom: 120px;
  }
  .margin-bottom-medium {
    margin-bottom: 90px;
  }
  .margin-bottom-small {
    margin-bottom: 60px;
  }
  .margin-bottom-extera-small {
    margin-bottom: 30px;
  }
}
body {
  background: #151616;
}

.special-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

::selection {
  background: #474747;
  color: white;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

#header {
  background-image: url("../../public/uploads/pictures/Background.png");
  background-size: cover;
  background-position: 0 0;
}

.gradient-text-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.gradient-text-wrapper .gradient-text {
  color: transparent;
  background: linear-gradient(180deg, #fda52a, #fae3c3);
  -webkit-background-clip: text;
  background-clip: text;
}
.gradient-text-wrapper .gradient-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  mix-blend-mode: overlay;
  background: linear-gradient(290deg, transparent, transparent 16%, #fff 18%, transparent 20%, transparent);
  background-size: 200%;
  background-position: 200% 0;
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text-overlay-rtl {
  animation: textOverlayRtl 3.5s linear infinite;
}

.gradient-text-overlay-ltr {
  animation: textOverlayLtr 5s linear infinite;
}

@keyframes textOverlayLtr {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes textOverlayRtl {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.glow-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 25px;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glow-border::before {
  content: "";
  position: absolute;
  width: 313%;
  height: 313%;
  background: conic-gradient(from 0deg, transparent 15deg, #ffe6c5 45deg, transparent 90deg);
  animation: rotateGlow 3s linear infinite;
  filter: blur(4px);
  transform-origin: center center;
}

@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#main-menu {
  transition: 0.4313s ease;
}

#main-section {
  transition: 0.313s ease;
}
#main-section .main-section-inner .background .horizontal .horizontal-line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 242, 218, 0.25);
}
#main-section .main-section-inner .background .vertical .vertical-line {
  width: 2px;
  height: 100%;
  background-color: rgba(255, 242, 218, 0.25);
}

#loading .spinner {
  border: 10px solid #fdc882;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  animation: spinner 1.313s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}